:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;

  --ff-primary: "PT Sans", sans-serif;

  --fs-700: 2.25rem;
  --fs-500: 1.25rem;
  --fs-300: 0.9375rem;

  --fw-700: 700;
  --fw-400: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
}
.header__logo {
  width: 145px;
  height: 40px;
}

.header__content {
  align-self: center;
  font-weight: 500;
}

.header__content ul {
  margin: 0;
  padding: 0;
}

.header__content ul li {
  list-style: none;
  display: inline;
  margin: 0 20px;
  font-size: 16px;
}

.header__content ul li a {
  text-decoration: none;
  color: #666666;
}
.header__content ul li a:hover {
  text-decoration: none;
  color: #333333;
}
/* CAROUSEL  */
.carousel-section {
  margin-bottom: 40px;
}
.carousel__background {
  height: 600px;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.2;
}
.carousel-item img {
  height: 600px;
  object-fit: cover;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.carousel-caption {
  top: 45%;
  padding: 0 !important;
}
.carousel__content {
  font-size: 40px;
  font-weight: 200;
}
.carousel__subContent {
  font-weight: 600;
}
.carousel__subContent span {
  color: rgb(255, 171, 115);
  font-weight: 700;
}

/* INTRODUCING */
.introducing {
  background: rgba(0, 168, 90, 0.05);
  padding: 30px 70px 40px 70px;
  text-align: center;
  margin-bottom: 40px;
}
.introducing__header {
  font-size: 30px;
  color: #1d2951;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
}
.introducing__header::after {
  content: "";
  display: block;
  width: 180px;
  height: 1px;
  background: #1d2951;
  margin: 15px auto 0 auto;
}
.introducing__content {
  line-height: 1.6;
  text-align: center;
  color: #666666;
}
.introducing__content span {
  color: rgb(255, 171, 115);
  font-weight: 700;
}
.introducing__button {
  background: #ffa001;
  border-radius: 3px;
  font-weight: 500;
  min-width: 120px;
  outline: none !important;
  font-size: 15px;
  text-shadow: 0.01em 0 0 #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  line-height: 40px;
  color: #fff;
}
.introducing__button:hover {
  background: #c9891c;
  transition: all 0.2s linear;
}

/* BODY */
.wrapper {
  margin-bottom: 180px;
}
.wrapper__pool {
  width: 600px;
  height: 470px;
}
.wrapper__pool-content {
  text-align: center;
  font-size: 25px;
  color: #64463c;
  margin-bottom: 15px;
}
.wrapper__pool-content p {
  margin-bottom: 0px;
}
.wrapper__pool-content::after {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #1d2951;
  margin: 12px auto 0 auto;
}
.wrapper__pool-content strong {
  color: #1d2951;
  width: 100%;
  height: 100%;
}
.line {
  text-align: center;
}
.line__img {
  max-width: 435px;
  margin-top: 23px;
  margin-bottom: 60px;
}
.menu {
  padding: 50px 0 180px 0;
  background: rgba(50, 50, 50, 0.05);
}
.menu__image {
  width: 600px;
  height: 470px;
  margin-top: -160px;
}

.activity__image {
  width: 600px;
  height: 470px;
  margin-top: -100px;
}
.beach {
  padding: 60px 0;
  background: rgba(0, 168, 90, 0.05);
  margin-bottom: 50px;
}

/* BOOKING */
.booking {
  text-align: center;
  margin-bottom: 50px;
}
.room_image {
  text-decoration: none;
  color: #666666;
}
.room_image::hover {
  color: #333333;
}

.room_image img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.booking__header {
  font-size: 26px;
  color: #1d2951;
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
}
.booking__header::after {
  content: "";
  display: block;
  width: 180px;
  height: 1px;
  background: #1d2951;
  margin: 14px auto 0 auto;
}

/* REVIEW */

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * + * {
  margin: calc(var(--spacer) * 3) 0 0 0;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    justify-content: space-between;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin: 0 0 0 var(--gap, var(--spacer));
  }
}

[class*="bg-"] {
  color: var(--fg, red);
  background: var(--bg, purple);
}

.bg-dark {
  --fg: var(--clr-neutral-100);
  --bg: var(--clr-neutral-900);
  --accent: var(--clr-accent-400);
}

.bg-accent {
  --fg: var(--clr-neutral-900);
  --bg: var(--clr-accent-400);
  --accent: var(--clr-neutral-100);
}

.corner-square {
  position: relative;
}

.corner-square:nth-of-type(2n) {
  --accent: var(--clr-neutral-900);
}

.corner-square::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: var(--accent, var(--clr-accent-400));
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  z-index: -1;
}

.testimonials {
  --gap: 4rem;
  text-align: center;
  background: rgba(50, 50, 50, 0.05);
  padding: 50px 0 80px 0;
  margin-bottom: 60px;
}

.testimonial {
  text-align: left;
  padding: calc(var(--spacer) * 2);
}

.testimonial > p:first-of-type {
  font-style: italic;
}

.testimonial .name {
  font-weight: 700;
  margin-top: 4rem;
  color: var(--accent);
}

/* Footer */
.footer {
  padding: 0 0 30px 0;
}
.information {
  padding: 0 100px;
  margin-bottom: 20px;
}
.information__title {
  color: #1d2951;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffa001;
  width: 180px;
  padding-bottom: 10px;
}
.information__content {
  font-size: 16px;
  line-height: 1.6;
  color: #64463c;
}
.information__telephone {
  margin-bottom: 10px;
}
.information__telephone a {
  text-decoration: none;
  color: #c9891c;
}
.information__map {
  width: 100%;
}
.information__register {
  width: 350px;
  height: auto;
}
.copy-right {
  text-align: center;
}
.copy-right__brand {
  color: #1d2951;
  font-weight: 700;
}
.copy-right__content {
  font-size: 14px;
  color: #64463c;
}
